body {
    margin: 0px;
    left: 0px;
    right: 0px;
    position: relative;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #bbb;
}
#blocked{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #323232;
  z-index: 10000;
}
#blocked>div.noext{
  text-align: center;
  color: #999;
  margin-top: calc(50vh - 40px);
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #ccc;
    box-sizing: border-box;
    height: 60px;
}

#cnt-search {
    display: flex;
    width: 90vw;
    padding-left: 15px;
}

#cnt-search input{
  padding: 5px;
  width: 29vw;
  padding-right: 35px;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 15px;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,.3);
  color: rgba(0,0,0,.6);
}

#btnSettings {
    display: inline-block;
    width: 10vw;
    text-align: right;
}


#btnSettings img{
  width:35px;
  cursor: pointer;
  transition: 500ms;
  padding:5px;
  border-radius: 50%;
}

#btnSettings img:hover {
    transform: rotate(180deg);
    background-color: #bbb;
}
#btnSettings img:active {
    background-color: #aaa;
    transition: 200ms;
}

#cnt-main {
    overflow: auto;
    display: flex;
}
#cnt-movieList {
    width: 30vw;
    height: calc(100vh - 60px);
    overflow: auto;
}

#cnt-movieInfo {
    width: 70vw;
    height: calc(100vh - 60px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnt-movieItem {
    display: flex;
    background-color: #eee;
    margin: 6px 0px 0px 6px;
    box-sizing: border-box;
    height: 120px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
    transition:300ms;
}
.cnt-movieItem:hover,.cnt-movieItem:active {
    background-color: #ddd;
    box-shadow: 0px 1px 4px rgba(0,0,0,.6);
}

.cnt-thumnails img {
    max-width: 80px;
    max-height: 100%;
}

.cnt-miText {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.miTitle {
    font-weight: bold;
    font-size: 22px;
}

.miName {
    font-family: monospace;
}

.miDate {
    font-size: 13px;
}

#cnt-movieInfo img {
    max-width: 250px;
}

#cnt-search img {
    width: 30px;
    height:30px;
    margin-left: -35px;
}

#cnt-movieCard {
    display: flex;
    background-color: #eee;
    padding: 5px;
    box-sizing: border-box;
    width: 98%;
    height: 98%;
}
.cnt-textInfo {
    padding-left: 15px;
}
.preRawText {
    font-family: sans-serif;
}
.hidden{
  display: none;
}

input:focus{
  outline: none;
}

.cnt-miText > div {
    word-break: break-all;
}

footer{
  position: fixed;
  text-align: center;
  font-size: 9px;
  background-color: #000;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color:#fff;
  opacity: 0.5;
  padding: 3px 0px;
}

#settings{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.voile {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.85)
}
.frame{
    position: absolute;
    top:30px;
    left:30px;
    right:30px;
    bottom:30px;
    background-color:rgb(208, 208, 208);
    box-sizing:border-box;
    padding:0px 20px 20px;
    border:1px solid #777;
    border-radius: 10px;
    color:#333;
    overfolw-x:hidden;
    overflow-y:auto;
}
#settings h1,#settings h2,#settings h3{
    border-bottom:1px solid #fff;
}
#btn-settings-close:hover {
    background-color: #c71313;
}
#btn-settings-close {
    position: absolute;
    padding: 10px 14px;
    background-color: #e23939;
    top: 0px;
    right: 0px;
    color: #fff;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}
#settings h6 {
    margin-top: -15px;
    margin-bottom: 10px;
}
.folder-item {
    padding: 4px 10px;
    background-color: #ccc;
}

.folder-item:nth-child(2n+1) {
    background-color: #ddd;
}

.folder-item:hover {
    filter: brightness(120%);
}

span.delete-folder {
    float: right;
    color: #d33;
    background-color: transparent;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 50%;
    transition-duration: 300ms;
    cursor: pointer;
}

span.delete-folder:hover {
    background-color: #d33;
    color: #fff;
}
.input {
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 5px;
    box-sizing: border-box;
}

#settings .btn {
    background-color: #408fde;
    display: inline-block;
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    transition: 300ms;
}

#settings .btn:hover {
    background-color: #1c69b7;
}
#a-path {
  display: inline-block;
  background-color:#ace;
  transition-duration:300ms;
  padding:6px 10px;
  border-radius:5px;
  cursor:pointer;
}
#a-path:hover {
  background-color:#abc;
}
#settings #btn-clearIl {
    clear: both;
    margin-top: 15px;
    background-color: #bc4424;
}
#settings #btn-clearIl:hover {
    background-color: #a13a1f;
}
